## Challenge 1 - Function Basics
Write a Python function named 'sum_even_numbers' that takes a list of numbers as input
and returns the sum of all the even numbers in the list.

In [4]:
#defining the sum_even_numbers function
def sum_even_numbers(num):
    # Initialize a variable to store the sum of even numbers
    sum_of_even = 0
    
#for loop for checking and adding every number that is even
    for number in num:
#to check if the number is even
        if number % 2 == 0:
#adds every even number to the sum 
            sum_of_even += number
    
    return sum_of_even

#input list of numbers
list1 = [10,15,91,29,32]
sum1 = sum_even_numbers(list1)
print("Sum of even numbers is ", sum1)

Sum of even numbers is  42

## Challenge 2 - Class Implementation
Create a Python class called 'Rectangle' with methods to calculate its area and perimeter.
Include a constructor that initializes the length and width.

In [16]:
#defining the class rectangle and constructor that initialises length and width 
class Rectangle:
    def __init__(self, l, w):
        self.length = l
        self.width = w

    def rectangle_area(self):
#to calculate the area of rectangle
        area = self.length * self.width
        return area
#to calculate the perimeter of rectangle
    def rectangle_perimeter(self):
        perimeter = 2 * (self.length + self.width)
        return perimeter

#input length and width of rect
l = 5
w = 3
rectangle = Rectangle(l, w)

area = rectangle.rectangle_area()
perimeter = rectangle.rectangle_perimeter()

print(f"Rectangle with length is {length} and width is {width}:")
print(f"Area: {area}")
print(f"Perimeter: {perimeter}")

Rectangle with length is 5 and width is 3:
Area: 15
Perimeter: 16

## Challenge 3 - Decorators
Write a Python decorator called 'log_time' that logs the time taken by a function to execute.
Apply this decorator to a sample function and demonstrate its usage.

In [64]:
import time 
def f1(func):
    def wrapper(*args, **kwargs):
        t1=time.time()
        func(*args, **kwargs)
        t2=time.time()-t1
        print(f"(func.__name__) ran in '\f'{t2} seconds" )
        
        return wrapper

In [67]:
@f1
def do_this():
    
    time.sleep(2)
    do_this()
    
@f1
def do_that():
    time.sleep(0.5)
    do_that() 
    print("done")

TypeError: 'NoneType' object is not callable

## Challenge 4 - Recursive Function
Build a recursive Python function named 'calculate_factorial' to calculate the factorial of a
positive integer.

In [2]:
def calculate_factorial(n):
#the factorial of 0 and 1 is 1 
    if n == 0 or n == 1:
        return 1
#multiplying the number n by (n-1) and so on to calculate the factorial
    else:
        return n * calculate_factorial(n - 1)

#input the number
n = 7
result = calculate_factorial(n)
print(f"The factorial of {n} is {result}")

The factorial of 7 is 5040

## Challenge 5 - File Handling and Functions
Develop a Python program that reads a CSV file containing student names and scores,
calculates the average score, and prints the names of students who scored above the
average.

In [92]:
#the csv file is created using random name generator for names and randbetween function for scores
import pandas as pd
import csv
data1=pd.read_csv("namesandscores.csv")
data1

                  Name  Score
0           Mira Ahmed     46
1      Harry Zimmerman     63
2       Ariyah Charles     62
3         Conrad Roman     25
4         Astrid David     50
5        Alonso Hodges     76
6         Eve Schwartz     91
7      Edwin Dickerson     73
8            Opal Lynn      2
9   Zechariah Saunders     24
10      Meadow Gilmore     32
11       Vihaan Macias     62
12       Adley Mahoney     12
13        Kamryn James     46
14       Quinn Goodman     32
15      Philip Nichols     74
16    Aliyah Stevenson     74
17     Callan Mitchell     30
18     Willow Delacruz     79

In [111]:
scores=data1["Score"]
names=data1["Name"]
scores

0     46
1     63
2     62
3     25
4     50
5     76
6     91
7     73
8      2
9     24
10    32
11    62
12    12
13    46
14    32
15    74
16    74
17    30
18    79
Name: Score, dtype: int64

In [77]:
import math
avgscore=scores.mean()
avgscore

50.1578947368421

In [105]:
avgscore1=int(avgscore)
avgscore1

50

In [130]:
print("Students who scored above the average:")
def aboveaveragescore():
    scores= []
    
for scores in data1:
     if scores>avgscore1:
        print("above average",scores)

Students who scored above the average:

TypeError: '>' not supported between instances of 'str' and 'int'

## Challenge 6 - Class Inheritance (Complex)
Design a hierarchy of Python classes representing various types of vehicles (e.g., Car,
Bicycle, Motorcycle). Define common attributes and methods for all vehicles, and then
implement subclass-specific methods (e.g., 'start_engine' for cars, 'pedal' for bicycles)

In [131]:
#The base class vehicle is defined with its attributes like company, name, year
class Vehicle:
    def __init__(self, company, name, year):
        self.company= company
        self.name= name
        self.year = year
        self.engine_started = False

    def start_engine(self):
        self.engine_started = True
        print(f"The  {self.company} {self.name} {self.year} engine is running.")

    def stop_engine(self):
        self.engine_started = False
        print(f"The  {self.company} {self.name} {self.year} engine is stopped.")

#subclasses car, bicycle and motorcycle is defined.
   
class Car(Vehicle):
    def __init__(self, company, name, year, fuel_type):
        super().__init__(company, name, year)
        self.fuel_type = fuel_type

    def start_engine(self):
        super().start_engine()
        print(f"The car is using {self.fuel_type} fuel.")

    def drive(self):
         print(f"The  {self.company} {self.name} {self.year} is driving.")

class Bicycle(Vehicle):
    def __init__(self, company,name, year):
        super().__init__(company,name, year)

    def pedal(self):
         print(f"The  {self.company} {self.name} {self.year} is being pedalled.")

class Motorcycle(Vehicle):
    def __init__(self, company,name, year):
        super().__init__(company, name, year)

    def start_engine(self):
        super().start_engine()
        print(f"The motorcycle's engine is running.")

   


car = Car("Honda", "City", 2023, "petrol")
car.start_engine()
car.drive()

car.stop_engine()

bike = Bicycle("Hero","bicycle",2023)
bike.pedal()


motorcycle = Motorcycle("BMW","310R",2021)
motorcycle.start_engine()

motorcycle.stop_engine()

The  Honda City 2023 engine is running.
The car is using petrol fuel.
The  Honda City 2023 is driving.
The  Honda City 2023 engine is stopped.
The  Hero bicycle 2023 is being pedalled.
The  BMW 310R 2021 engine is running.
The motorcycle's engine is running.
The  BMW 310R 2021 engine is stopped.

## Challenge 7 - Working with Lists and 'random' Library
Write a Python program that generates a random list of numbers, sorts the list in ascending
order, and calculates the median of the numbers. Import and use the 'random' library.

In [98]:
import random
import statistics

#Function to generate a random list of numbers
def random_list(length, min_value, max_value):
    random_list = [random.randint(min_value, max_value) for _ in range(length)]
    return random_list

#Function to calculate the median of the random list
def calculate_median(numbers):
    return statistics.median(numbers)

#Specify the parameters for the random list
list_length = 10 
min_value = 1
max_value = 100

#Generate the random list
random_numbers = random_list(list_length, min_value, max_value)

#The list in ascending order
asc_order_numbers = sorted(random_numbers)

#Calculate and print the median
median = calculate_median(asc_order_numbers)
print("Random List:", random_numbers)
print("Sorted List:", asc_order_numbers)
print("Median:", median)

Random List: [18, 16, 4, 96, 72, 53, 76, 21, 38, 31]
Sorted List: [4, 16, 18, 21, 31, 38, 53, 72, 76, 96]
Median: 34.5

## Challenge 8 - Text Processing with 'string' Library
Create a Python function that takes a string as input, removes all punctuation characters
(e.g., '.', ',', '?'), and returns the cleaned string. Use the 'string' library to access punctuation
characters.

In [21]:
import string

In [27]:
# initializing string
test_sentence = "Wait. What does that mean!?"
 
# printing original string
print("The original sentence is : " + test_sentence)
 
# initializing punctuations string
punc = '''.,!?'''
 
# Removing punctuations in string
# Using for loop
for e in test_sentence:
    if e in punc:
        test_sentence = test_sentence.replace(e, "")
 
# printing result
print("The sentence after removing punctuations is  : " + test_sentence)

The original sentence is : Wait. What does that mean!?
The sentence after removing punctuations is  : Wait What does that mean